/* =========== IMPORTS ============ */
/* ---------- NORMALIZE ---------- */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ---- END OF NORMALIZE ---- */
/* ======== END OF IMPORTS ======== */
/* ====== BEGIN STANDARD STYLESHEET ====== */
body {
  font-size: 100%;
  color: #eee;
  background: #090909;
  font-family: "Open Sans"; }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0.0 !important; }

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  opacity: 0.0;
  visibility: hidden;
  clear: both; }

#loading {
  display: none;
  background: #222222;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 18em;
  z-index: 1; }
  #loading img {
    margin: 0 auto;
    width: 3em;
    height: 3em;
    display: block; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100; }
  header h1 {
    display: none;
    position: absolute;
    color: #cc1515;
    font-family: "Teko", "Open Sans", sans-serif;
    font-weight: 700;
    z-index: 200;
    left: 4em;
    line-height: 0.5em; }
  header #mainNav {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    display: block; }
    header #mainNav .bar {
      width: 100%;
      z-index: 102;
      background: #ffffff; }
    header #mainNav .logo {
      position: absolute;
      top: 1em;
      left: 1em;
      width: 3.5em;
      height: 3.5em;
      z-index: 104; }
    header #mainNav .left {
      z-index: 101;
      position: absolute;
      left: 0;
      top: 0;
      width: 5em;
      height: 5.5em;
      content: '';
      background: #fff; }
      header #mainNav .left:after {
        background: inherit;
        content: '';
        width: 6em;
        height: 6em;
        position: absolute;
        top: -1.8em;
        right: -3em;
        transform: rotate(45deg);
        transform-origin: 50% 50%; }
    header #mainNav .right {
      position: absolute;
      top: 3.5em;
      left: 0;
      z-index: 100;
      height: 1em;
      content: '';
      background: #aa0e0e;
      width: 100%; }
    header #mainNav h2 {
      display: block;
      float: left;
      color: #222;
      margin-left: 0.5em; }
    header #mainNav a.hamburger {
      padding: 1em;
      text-decoration: none;
      color: inherit;
      float: right;
      display: block; }
      header #mainNav a.hamburger div {
        position: relative;
        width: 2.5em;
        height: 1.5em; }
        header #mainNav a.hamburger div .top {
          position: absolute;
          top: 0;
          left: 0;
          background: #cc1515;
          width: 100%;
          height: 20%; }
        header #mainNav a.hamburger div .mid {
          position: absolute;
          top: 40%;
          transform-origin: 25% 25%;
          background: #cc1515;
          width: 100%;
          height: 20%; }
        header #mainNav a.hamburger div .bot {
          position: absolute;
          bottom: 0;
          left: 0;
          background: #cc1515;
          width: 100%;
          height: 20%; }
    header #mainNav ul {
      background: #cc1515;
      color: #fff;
      clear: both;
      height: 0em;
      overflow: hidden;
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 100;
      position: relative; }
      header #mainNav ul li:first-child {
        padding-top: 2em; }
      header #mainNav ul li {
        display: block;
        padding: 0.5em 1em;
        margin: 0 auto;
        max-width: 20em; }
        header #mainNav ul li a {
          font-family: "Teko", "Open Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 100;
          font-size: 1.5em;
          letter-spacing: 0.1em;
          display: block;
          padding: 0.5em;
          color: inherit;
          text-decoration: none;
          text-align: right;
          transition: none;
          border-bottom: #fff thick solid;
          position: relative; }
          header #mainNav ul li a:after {
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            transition: none;
            border-bottom: #aa0e0e thick solid; }

footer {
  font-size: 0.75em;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0.5em 1.5em;
  width: 100%;
  background: rgba(34, 34, 34, 0.5);
  z-index: 100; }
  footer .right {
    text-align: right;
    float: right;
    display: inline-block; }
  footer .left {
    display: inline-block;
    float: left; }
    footer .left a {
      color: inherit;
      margin-right: 1em; }

/*HOMEPAGE*/
#splash {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  height: 100vh; }
  #splash .back-img {
    background-image: url(../img/linedup.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover; }
  #splash .back-video {
    background: url("../img/ACTION-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; }
    #splash .back-video video {
      position: relative;
      top: 0;
      display: none;
      height: 100%;
      width: 1920;
      margin: 0 auto; }
    #splash .back-video video.play {
      display: block; }
  #splash .banner {
    position: relative;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20vh; }
    #splash .banner #logo {
      max-width: 10rem;
      width: 50%;
      display: block;
      margin: 0 auto; }
    #splash .banner .spacer {
      height: 5em; }
    #splash .banner .fitText {
      font-family: "Teko", "Open Sans", sans-serif;
      text-shadow: 0.4rem 0.4rem 0.2rem rgba(0, 0, 0, 0.5);
      margin-top: 0.5em;
      padding-top: 0.1em;
      line-height: 0.2em;
      text-transform: uppercase; }
    #splash .banner .back {
      background-color: #cc1515;
      width: 100%;
      box-sizing: border-box; }
    #splash .banner .callToAction {
      margin: 0 auto;
      margin-top: 4em;
      width: 80%;
      position: relative;
      z-index: 90;
      font-size: 1.2em; }
      #splash .banner .callToAction .tagline {
        text-align: center;
        border-bottom: medium solid #cc1515;
        font-weight: 700;
        display: block;
        max-width: 22em;
        margin: 0 auto;
        padding: 0.2em;
        margin-bottom: 1em; }
      #splash .banner .callToAction .subheading {
        text-align: center;
        width: 100%;
        font-weight: 700;
        margin: 0;
        margin-bottom: 1em;
        font-family: "Open Sans";
        color: #fff;
        z-index: 1;
        position: relative;
        font-size: 1.5rem;
        padding: 0 1em;
        box-sizing: border-box; }
        #splash .banner .callToAction .subheading .in {
          max-width: 20em;
          margin: 0 auto; }
    #splash .banner .button {
      font-size: 1.2rem; }
  #splash #toggleSound {
    display: none;
    color: #ffffff;
    text-decoration: none;
    position: fixed;
    bottom: 3em;
    right: 2em; }
    #splash #toggleSound img {
      opacity: 0.5;
      width: 2em;
      height: auto; }
      #splash #toggleSound img:hover {
        opacity: 1.0; }

.dark-overlay:after {
  position: absolute;
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  z-index: -1; }
.dark-overlay.darker:after {
  opacity: 0.9; }

#viewMore {
  position: relative;
  margin-top: 2em;
  z-index: 10; }

.arrow {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding: 0.75em 0.9em;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 10em;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase; }
  .arrow:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1em;
    left: 45%;
    width: 0;
    height: 0;
    transform-origin: 50% 50%;
    border: 0.6em solid transparent;
    border-top: 0.8em solid #fff; }
  .arrow:hover:after {
    animation: bounce 1s ease infinite; }
  .arrow.white {
    color: white;
    border-color: white; }

@keyframes bounce {
  0% {
    bottom: -1em; }
  50% {
    bottom: -1.2em; }
  100% {
    bottom: -1em; } }
.button {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding: 0.75em 0.9em;
  border: medium solid #fff;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 10em;
  box-sizing: border-box;
  margin: 0 auto;
  text-transform: uppercase; }
  .button.white {
    color: white;
    border-color: white; }
    .button.white:hover {
      background-color: rgba(255, 255, 255, 0.2); }

#gallery {
  position: relative;
  min-height: 44em;
  padding: 1em;
  background: url("../img/ACTION-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  padding-bottom: 4em; }
  #gallery .inner {
    margin: 0 auto;
    border-top: thin solid #fff;
    padding-top: 2em;
    text-align: center; }
  #gallery .image {
    display: inline-block;
    position: relative;
    margin: 1em;
    box-sizing: border-box;
    width: 80%;
    max-width: 20em; }
    #gallery .image img {
      width: 100%; }
    #gallery .image .imageHeader {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 1em;
      background: rgba(204, 21, 21, 0.8);
      color: #fff;
      padding: 0.5em;
      text-align: center;
      box-sizing: border-box;
      transition: all ease 0.5s; }
  #gallery .buttons {
    text-align: center; }
    #gallery .buttons a {
      display: inline-block;
      border: medium solid #fff;
      padding: 0.5em 1em;
      color: #fff;
      text-decoration: none;
      transition: background ease 0.5s; }
      #gallery .buttons a:hover {
        background: rgba(204, 21, 21, 0.5); }
  #gallery #gallery-upload {
    margin-top: 5em;
    clear: both; }

#timeline {
  position: relative;
  background: url("../img/history_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0; }
  #timeline > h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    line-height: 1.5rem; }
  #timeline .inner {
    max-width: 60em;
    margin: 0 auto;
    min-height: 40em;
    margin-bottom: 2em; }
    #timeline .inner .timelineCont .half {
      width: 100%;
      display: block;
      float: none;
      min-height: 10em;
      padding: 1em;
      box-sizing: border-box; }
      #timeline .inner .timelineCont .half.left .modal {
        margin: 0 auto;
        width: 100%;
        max-width: 30em;
        min-height: 30em;
        background: #cc1515;
        color: #fff;
        padding: 3em 2em;
        padding-bottom: 1em;
        box-sizing: border-box;
        border-bottom: 1em solid #aa0e0e;
        position: relative; }
        #timeline .inner .timelineCont .half.left .modal img {
          width: 100%;
          margin: 0 auto;
          max-width: 30em;
          min-height: 10em;
          max-height: 20em;
          display: block;
          background: #fff; }
        #timeline .inner .timelineCont .half.left .modal .modal-arrow {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          top: 2.2em;
          right: -4em;
          border: 2em solid transparent;
          border-left: 2em solid #cc1515;
          display: none; }
      #timeline .inner .timelineCont .half.right ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        #timeline .inner .timelineCont .half.right ul li {
          display: block; }
          #timeline .inner .timelineCont .half.right ul li a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 1em;
            background: #cc1515;
            border-bottom: thin solid #aa0e0e; }
            #timeline .inner .timelineCont .half.right ul li a.current {
              color: #cc1515;
              font-weight: 700; }
          #timeline .inner .timelineCont .half.right ul li ul {
            height: 0;
            overflow: hidden; }
            #timeline .inner .timelineCont .half.right ul li ul li a {
              background: #aa0e0e;
              border-bottom: thin solid #cc1515; }

#portal {
  min-height: 40em;
  background: url("../img/ACTION-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#partnerships {
  position: relative;
  padding: 2em;
  background: url("../img/ACTION-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.placeholder {
  position: relative;
  width: 100%;
  max-width: 40em;
  margin: auto;
  height: 60em;
  background: #cc1515;
  border: #fff thick solid;
  box-sizing: border-box;
  z-index: 1; }

.delete {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #cc1515;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  width: 1.5rem;
  line-height: 1.5rem;
  z-index: 1000;
  height: 1.5rem;
  background: #fff; }

#upload {
  padding: 1em;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 8em; }
  #upload input {
    margin: 0.25em auto;
    display: block;
    width: 100%;
    text-align: center;
    max-width: 14em;
    box-sizing: border-box; }
    #upload input[type="text"] {
      padding: 0.25em 0.5em;
      border: medium solid #fff;
      background: transparent; }
    #upload input[type="submit"] {
      margin-top: 1em;
      padding: 0.25em 0.5em;
      box-sizing: border-box;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1em;
      max-width: 12em;
      background: #cc1515;
      border: medium solid #aa0e0e; }
  #upload label {
    margin: 0.25em auto;
    margin-top: 1em;
    display: block;
    width: 100%;
    max-width: 14em; }

#loginForm {
  display: block;
  width: 90%;
  max-width: 22em;
  margin: 0 auto;
  margin-top: 4em; }
  #loginForm label {
    float: left;
    padding: 0.5em 0.75em;
    margin-top: 1em;
    padding-left: 0; }
  #loginForm input {
    float: right;
    clear: right;
    color: #fff;
    margin-top: 1em; }
    #loginForm input:not([type="submit"]) {
      border: medium solid #e6e6e6;
      background: transparent;
      padding: 0.5em 0.75em; }
      #loginForm input:not([type="submit"]):focus {
        outline: 0;
        border: medium solid #fff; }
    #loginForm input[type="submit"] {
      margin-top: 1.5em;
      color: #fff;
      padding: 0.5em 1.75em;
      background: #cc1515;
      border: medium solid #aa0e0e; }

#dash-links {
  margin-top: 4em; }
  #dash-links a {
    display: block;
    text-decoration: none;
    color: #fff; }
    #dash-links a:hover {
      text-decoration: underline; }

#gallery-upload {
  min-height: 60em;
  background: url("../img/history_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#partners {
  position: relative;
  background: url("../img/ACTION-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1; }
  #partners .inner {
    z-index: 1; }
  #partners #upperPartner {
    padding-top: 5em;
    margin-left: 9em; }
  #partners #lowerPartner {
    margin-top: 5em;
    margin-left: 15em;
    margin-bottom: 5em; }
  #partners .partnerImage {
    height: 11.5em;
    width: 11.5em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    -webkit-box-shadow: 0px 4px 42px -8px white;
    -moz-box-shadow: 0px 4px 42px -8px white;
    box-shadow: 0px 4px 42px -8px white; }
  #partners #partnerButton {
    margin-bottom: 6em; }

#formSection {
  padding-top: 5em;
  background: url("../img/history_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  #formSection label {
    font-family: "Open Sans";
    display: block;
    font-size: 2em;
    margin-left: 15em; }
  #formSection .options {
    font-size: 1em;
    display: inline;
    margin-left: .5em; }
  #formSection input {
    margin-left: 30em;
    color: #fff;
    margin-top: 1em; }
    #formSection input:not([type="submit"]) {
      border: medium solid #e6e6e6;
      background: transparent;
      padding: 0.5em 0.75em; }
      #formSection input:not([type="submit"]):focus {
        outline: 0;
        border: medium solid #fff; }
    #formSection input[type="submit"] {
      margin-top: 1.5em;
      margin-left: 40em;
      margin-bottom: 6em;
      color: #fff;
      padding: 0.5em 1.75em;
      background: #cc1515;
      border: medium solid #aa0e0e; }
  #formSection #message {
    display: block;
    height: 10em; }

#portal {
  background: url("../img/history_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media only screen and (min-width: 40em) {
  header h1 {
    display: block; }
  header #mainNav ul li a {
    transition: all ease 0.4s; }
    header #mainNav ul li a:after {
      transition: all ease 0.4s; }
    header #mainNav ul li a:hover {
      padding-right: 1em; }
      header #mainNav ul li a:hover:after {
        width: 100%; }

  #splash .back-video video {
    display: block; }

  #gallery .inner {
    text-align: center; }
  #gallery #nothing {
    padding: 4em; }
  #gallery .image {
    position: relative;
    display: inline-block;
    margin: 1em;
    box-sizing: border-box;
    width: 100%; }
    #gallery .image .imageHeader {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 1em;
      background: rgba(204, 21, 21, 0.8);
      color: #fff;
      padding: 0.5em;
      text-align: center;
      box-sizing: border-box;
      transition: all ease 0.5s; }

  #timeline {
    padding: 2em; }
    #timeline .inner .timelineCont .half {
      width: 50%; }
      #timeline .inner .timelineCont .half.left {
        float: left !important; }
        #timeline .inner .timelineCont .half.left .modal {
          width: 90%; }
          #timeline .inner .timelineCont .half.left .modal .modal-arrow {
            display: block; }
      #timeline .inner .timelineCont .half.right {
        float: right !important;
        border-left: thick solid #fff;
        margin-top: 1em;
        height: 34em;
        padding-top: 3em;
        padding-bottom: 4em; }
        #timeline .inner .timelineCont .half.right ul {
          padding: 0;
          margin: 0;
          list-style: none;
          margin-left: 5em; }
          #timeline .inner .timelineCont .half.right ul li {
            position: relative; }
            #timeline .inner .timelineCont .half.right ul li ul {
              position: relative;
              display: block;
              height: 0;
              overflow-y: hidden;
              margin-left: 2em;
              margin-bottom: 0; }
              #timeline .inner .timelineCont .half.right ul li ul li a {
                background: transparent;
                border: 0; }
            #timeline .inner .timelineCont .half.right ul li a {
              background: transparent;
              border: 0;
              display: block;
              padding: 0.5em 1em;
              text-decoration: none;
              color: inherit;
              position: relative; }
              #timeline .inner .timelineCont .half.right ul li a:before {
                content: '';
                height: 0;
                width: 6.2em;
                left: -6.2em;
                border-bottom: medium solid #fff;
                top: 50%;
                position: absolute; } }
@media only screen and (min-width: 60em) {
  #splash .banner #logo {
    max-width: 12rem; } }
