/* =========== IMPORTS ============ */
/* ---------- NORMALIZE ---------- */
  @import 'normalize';
/* ---- END OF NORMALIZE ---- */
/* ======== END OF IMPORTS ======== */
// MIXINS
@mixin back-img($imgsrc) {
  background: url('../img/'+$imgsrc);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
// END MIXINS
/* ====== BEGIN STANDARD STYLESHEET ====== */

// COLORS
$red:#cc1515;
$red-dark:#aa0e0e;
$font-bold:#fff;
$font:#eee;
$background:#090909;
$hamburger: $red;
$footer:#222;
$white:#fff;

// FONTS
$font-reg:"Open Sans";
// $font-stack-header:"pop_warner", "opensans-regular", "sans serif";
$font-stack-header:"Teko","Open Sans", sans-serif;
// MAIN
body{
  font-size: 100%;
  color:$font;
  background: $background;
  font-family: $font-reg;
  // min-height: 60em;
}
.hidden{
  display: none !important;
}
.invisible{
  opacity: 0.0 !important;
}
.clearfix:after{
  content:'';
  display: block;
  width:0;
  height:0;
  opacity: 0.0;
  visibility: hidden;
  clear: both;
}

#loading{
  display: none;
  background:#222222;
  position: fixed;
  top:0;
  left:0;
  margin:0 auto;
  width:100%;
  height:100%;
  padding-top: 18em;
  z-index: 1;
  img{
    margin: 0 auto;
    width:3em;
    height:3em;
    display: block;
  }
}

header{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  z-index: 100;
  h1{
    display: none;
    position: absolute;
    color:$red;
    font-family: $font-stack-header;
    font-weight: 700;
    z-index: 200;
    left:4em;
    line-height: 0.5em;
  }
  #mainNav{
    position: absolute;
    z-index: 100;
    left:0;
    top:0;
    width:100%;
    display: block;
    .bar{
      width:100%;
      z-index: 102;
      background: #ffffff;
    }
    .logo{
      position: absolute;
      top:1em;
      left:1em;
      width:3.5em;
      height:3.5em;
      z-index: 104;
    }
    .left{
      z-index: 101;
      position: absolute;
      left:0;
      top:0;
      width:5em;
      height:5.5em;
      content:'';
      background: #fff;
      &:after{
        background: inherit;
        // background: #f00;
        content:'';
        width:6em;
        height:6em;
        position:absolute;
        top: -1.8em;
        right:-3em;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
      }
    }
    .right{
      position: absolute;;
      top:3.5em;
      left:0;
      z-index: 100;
      height:1em;
      content:'';
      background: $red-dark;
      width:100%;
    }
    h2{
      display: block;
      float: left;
      color:#222;
      margin-left: 0.5em;
    }
    a.hamburger{
      padding:1em;
      text-decoration: none;
      color:inherit;
      float: right;
      display: block;
    div{
      position: relative;
      width:2.5em;
      height:1.5em;
      .top{
        position: absolute;
        top:0;
        left:0;
        background: $hamburger;
        width:100%;
        height:20%;
      }
      .mid{
        position: absolute;
        top:40%;
        transform-origin: 25% 25%;
        background: $hamburger;
        width:100%;
        height:20%;
      }
      .bot{
        position: absolute;
        bottom:0;
        left:0;
        background: $hamburger;
        width:100%;
        height:20%;
      }
    }
  }
    ul{
      background: $red;
      // background-color: transparentize($red, 0.5);
      color:$white;
      clear: both;
      height:0em;
      overflow: hidden;
      // display: none;
      display: block;
      list-style: none;
      margin:0;
      padding:0;
      z-index: 100;
      position:relative;
      li:first-child{
        padding-top: 2em;
      }
      li{
        display: block;
        padding: 0.5em 1em;
        margin: 0 auto;
        max-width: 20em;
        a{
          font-family: $font-stack-header;
          text-transform: uppercase;
          font-weight: 100;
          font-size: 1.5em;
          letter-spacing: 0.1em;
          display: block;
          padding:0.5em;
          color:inherit;
          text-decoration: none;
          text-align: right;
          transition: none;
          border-bottom:$white thick solid;
          position: relative;
          &:after{
            content:'';
            height:100%;
            position: absolute;
            top:0;
            // right:0%;
            left:0;
            width:0%;
            transition: none;
            border-bottom:$red-dark thick solid;
          }
          &.current{
            // background: darken($red, 20.8);
          }
          &:hover{
            // padding-right:1em;
            // color: $red-dark;
            // border-bottom:$red-dark solid thick;
            &:after{
              // right:20%;
              // width:100%;
            }
            // background: darken($red, 10.8);
          }
        }
      }
    }
  }
}
#pageContainer{
  // margin-top:5em;
}
footer{
  font-size: 0.75em;
  position: fixed;
  bottom:0;
  left:0;
  box-sizing: border-box;
  padding:0.5em 1.5em;
  width:100%;
  background: transparentize($footer, 0.5);
  z-index: 100;

  .right{
    text-align: right;
    float: right;
    display: inline-block;
  }
  .left{
    display: inline-block;
    float: left;
    a{
      color:inherit;
      margin-right:1em;
    }
  }
}

/*HOMEPAGE*/
#splash{
  .back-img{
    background-image:url(../img/linedup.jpg);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .back-video{
    @include back-img('ACTION-1.jpg');
    // position: relative;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -2;
    // background: #000000;
    video{
      position: relative;
      top:0;
      display: none;
      // width:100%;
      // max-width: 100%;
      height:100%;
      width:1920;
      margin:0 auto;
      // max-height: 100vh;
    }
    video.play{
      display: block;
    }
  }

  width:100%;
  display: block;
  position: relative;
  overflow: hidden;
  // height: 42em;
  height:100vh;
  .banner{
    position: relative;
    color:#fff;
    box-sizing: border-box;
    text-align: center;
    width:100%;
    box-sizing: border-box;
    margin-top:20vh;
    // transition: all ease 0.5s;
    #logo{
      max-width: 10rem;
      width:50%;
      display: block;
      margin:0 auto;
    }
    .spacer{
      height:5em;
    }
    .fitText{
      font-family: $font-stack-header;
      text-shadow: 0.4rem 0.4rem 0.2rem rgba(0,0,0,0.5);
      margin-top: 0.5em;
      padding-top: 0.1em;
      line-height: 0.2em;
      text-transform: uppercase;
    }

    .back{
      background-color:$red;
      width:100%;
      box-sizing: border-box;
      // display: none;
    }
    .callToAction{
      margin:0 auto;
      margin-top: 4em;
      width:80%;
      position: relative;
      z-index: 90;
      font-size: 1.2em;
      // transition: all ease 0.5s;
      .tagline{
        // font-size: 0.5em;
        text-align: center;
        border-bottom: medium solid $red;
        font-weight: 700;
        display: block;
        max-width: 22em;
        margin:0 auto;
        padding:0.2em;
        margin-bottom:1em;
      }
      .subheading{
        text-align: center;
        width:100%;
        font-weight: 700;
        margin:0;
        margin-bottom:1em;
        font-family: $font-reg;
        color:#fff;
        z-index: 1;
        position: relative;
        font-size: 1.5rem;
        padding:0 1em;
        box-sizing: border-box;
        .in{
          max-width: 20em;
          margin:0 auto;
        }
      }
    }
    .button{
      font-size: 1.2rem;
    }
  }

  #toggleSound{
    display: none;
    color:#ffffff;
    text-decoration: none;
    position: fixed;
    bottom:3em;
    right: 2em;
    img{
      opacity: 0.5;
      width:2em;
      height:auto;
      &:hover{
        opacity: 1.0;
      }
    }
  }
}
.dark-overlay{
  &:after{
    position: absolute;
    background: #000;
    opacity: 0.6;
    width:100%;
    height:100%;
    left:0;
    top:0;
    content: '';
    z-index:-1;
  }
  &.darker{
    &:after{
      opacity: 0.9;
    }
  }
}

#viewMore{
  position: relative;
  margin-top: 2em;
  z-index: 10;
}

.arrow{
  text-decoration: none;
  color:inherit;
  font-weight: 700;
  padding:0.75em 0.9em;
  // border: medium solid #fff;
  text-align: center;
  display: block;
  width:100%;
  max-width: 10em;
  box-sizing: border-box;
  margin:0 auto;
  position: relative;
  text-transform: uppercase;
  &:after{
    content:'';
    display: block;
    position: absolute;
    bottom:-1em;
    left:45%;
    width:0;
    height:0;
    transform-origin: 50% 50%;
    border: 0.6em solid transparent;
    border-top:0.8em solid $white;
  }
  &:hover{
    &:after{
      animation: bounce 1s ease infinite;
    }
  }
  &.white{
    color: white;
    border-color:white;
    &:hover{
    }
  }
}
@keyframes bounce{
  0%{bottom:-1em;}
  50%{bottom:-1.2em}
  100%{bottom:-1em;}
}
.button{
  text-decoration: none;
  color:inherit;
  font-weight: 700;
  padding:0.75em 0.9em;
  border: medium solid #fff;
  text-align: center;
  display: block;
  width:100%;
  max-width: 10em;
  box-sizing: border-box;
  margin:0 auto;
  text-transform: uppercase;
  &.white{
    color: white;
    border-color:white;
    &:hover{
      background-color: rgba(255,255,255,0.2);
    }
  }
}

#gallery{
  position: relative;
  min-height: 44em;
  padding:1em;
  @include back-img('ACTION-1.jpg');
  z-index: 1;
  padding-bottom:4em;
  .inner{
    margin:0 auto;
    border-top: thin solid #fff;
    padding-top:2em;
    text-align: center;
  }
  .image{
    display: inline-block;
    position: relative;
    margin:1em;
    // padding:1em;
    box-sizing: border-box;
    width:80%;
    max-width: 20em;
    img{
      width:100%;
      // margin:1em;
    }
    .imageHeader{
      position: absolute;
      width:100%;
      left:0;
      bottom:1em;
      background: transparentize($red,0.2);
      color:$white;
      padding:0.5em;
      text-align:center;
      box-sizing: border-box;
      transition: all ease 0.5s;
    }
  }
  .buttons{
    text-align: center;
    a{
      display: inline-block;
      border:medium solid $white;
      padding:0.5em 1em;
      color:$white;
      text-decoration: none;
      transition: background ease 0.5s;
      &:hover{
        background: transparentize($red,0.5);
      }
    }
  }
  #gallery-upload{
    margin-top: 5em;
    clear: both;
  }
}


#timeline{
  position: relative;
  @include back-img('history_back.jpg');
  z-index:0;
  &>h2{
    width:100%;
    text-align: center;
    font-size: 3rem;
    line-height: 1.5rem;
  }
  .inner{
    max-width: 60em;
    margin: 0 auto;
    min-height: 40em;
    // background: $white;
    margin-bottom:2em;
    .timelineCont{
      .half{
        width:100%;
        display: block;
        float: none;
        min-height: 10em;
        padding:1em;
        box-sizing: border-box;
        &.left{
          .modal{
            img{
              width:100%;
              margin:0 auto;
              max-width: 30em;
              min-height: 10em;
              max-height: 20em;
              display: block;
              background: #fff;
            }
            margin: 0 auto;
            width:100%;
            max-width: 30em;
            min-height: 30em;
            background: $red;
            color:$white;
            padding:3em 2em;
            padding-bottom: 1em;
            box-sizing: border-box;
            border-bottom: 1em solid $red-dark;
            position: relative;
            .modal-arrow{
              position: absolute;
              content:'';
              width: 0;
              height:0;
              top:2.2em;
              right:-4em;
              border:2em solid transparent;
              border-left: 2em solid $red;
              display: none;
            }
          }
        }
        &.right{
          ul{
            padding:0;
            margin:0;
            list-style: none;
            li{
              display: block;
              a{
                display: block;
                color:$white;
                text-decoration: none;
                padding:1em;
                background: $red;
                border-bottom: thin solid $red-dark;
                &.current{
                  color:$red;
                  font-weight: 700;
                }
              }
              ul{
                height:0;
                overflow: hidden;
                li{
                  a{
                    background: $red-dark;
                    border-bottom: thin solid $red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#portal{
  min-height: 50em;
  @include back-img('ACTION-5.jpg');
}
#partnerships{
  position: relative;
  padding:2em;
  @include back-img('ACTION-5.jpg');
}
.placeholder{
  position: relative;
  width:100%;
  max-width:40em;
  margin: auto;
  height:60em;
  background: $red;
  border: $white thick solid;
  box-sizing: border-box;
  z-index: 1;
}

.delete{
  display: block;
  position: absolute;
  top:0.5rem;
  right:0.5rem;
  color:$red;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  width:1.5rem;
  line-height: 1.5rem;
  z-index: 1000;
  height:1.5rem;
  background: $white;
}


// INSERT NEW PAGES ABOVE THIS LINE

#upload{
  // text-align: center;
  padding:1em;
  box-sizing: border-box;
  margin:0 auto;
  width:100%;
  padding-bottom: 8em;
  input{
    margin:0.25em auto;
    display: block;
    width:100%;
    text-align: center;
    max-width: 14em;
    box-sizing: border-box;
    &[type="text"]{
      padding:0.25em 0.5em;
      border:medium solid $white;
      background: transparent;
    }
    &[type="submit"]{
      margin-top:1em;
      padding:0.25em 0.5em;
      box-sizing: border-box;
      width:100%;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1em;
      max-width: 12em;
      background:$red;
      border:medium solid $red-dark;
    }
  }
  label{
    margin:0.25em auto;
    margin-top:1em;
    display: block;
    width:100%;
    // text-align: center;
    max-width: 14em;
  }
}

#loginForm{
  display: block;
  width:90%;
  max-width: 22em;
  margin:0 auto;
  margin-top: 4em;
  label{
    float: left;
    // clear: both;
    padding:0.5em 0.75em;
    margin-top: 1em;
    padding-left: 0;
  }
  input{
    // width:100%;
    // float: left;
    // clear: both;
    float: right;
    clear: right;
    color:$white;
    margin-top: 1em;
    &:not([type="submit"]){
      border:medium solid darken($white,10);
      background: transparent;
      padding:0.5em 0.75em;
      &:focus{
        outline:0;
        border:medium solid $white;
      }
    }
    &[type="submit"]{
      margin-top: 1.5em;
      color:$white;
      padding:0.5em 1.75em;
      background: $red;
      border:medium solid $red-dark;
    }
  }
}

#dash-links{
  margin-top: 4em;
  a{
    display: block;
    text-decoration: none;
    color:$white;
    &:hover{
      text-decoration: underline;
    }
  }
}
#gallery-upload{
  min-height: 60em;
  @include back-img("history_back.jpg");
}

#partners{
  position: relative;
  background: url('../img/history_back.jpg');
  padding-bottom: 6em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  .inner{
    z-index: 1;
  }
  #upperPartner{
    padding-top: 5em;
    margin-left: 10%;
  }
  #lowerPartner{
    margin-top: 1em;
    margin-left: 10%;
    margin-bottom: 5em;
  }
  .partnerImage{
    border-radius: 1em;
    margin-bottom:2em;
    display: inline;
    height:5em;
    width:5em;
    margin-left: .5em;
    margin-right: .5em;
    -webkit-box-shadow: 0px 4px 42px -8px rgba(255,255,255,1);
    -moz-box-shadow: 0px 4px 42px -8px rgba(255,255,255,1);
    box-shadow: 0px 4px 42px -8px rgba(255,255,255,1);
  }
}
#formSection{
  padding-top: 5em;
  padding-bottom: 10em;
  background: url('../img/history_back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  form{
    width: 90%;
    max-width: 30em;
    margin: 0 auto;
    display: block;
  }
  label{
    font-family:$font-reg;
    display: block;
    font-size: 2em;
  }
  .options{
    font-size: 1em;
    display: inline;
    margin-left: .5em;
  }
  input{
    color:$white;
    margin-top: 1em;
    &:not([type="submit"]){
      border:medium solid darken($white,10);
      background: transparent;
      padding:0.5em 0.75em;
      &:focus{
        outline:0;
        border:medium solid $white;
      }
    }
    &[type="submit"]{
      margin-top: 1.5em;
      margin-bottom:6em;
      color:$white;
      padding:0.5em 1.75em;
      background: $red;
      border:medium solid $red-dark;
    }
  }
  #message{
    width:80%;
    height:10em;
    display: block;
  }



}

#portal{
    background: url("../img/history_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom:8em;

    #intro{
      width: 70%;
      margin-left: 3em;
      font-size: 1.2em;
      padding-top: 5em;
    }
    #question{
      margin-left: 2.5em;
      width: 80%;
      font-size: 1em;
      padding-top: 1.25em;
      border-bottom: medium solid $red;
    }
    #portalImage{
      width:95%;
      height:auto;
      border-radius:1em;
      margin-bottom: 1em;
    }
    #portalContent{
      padding: 2em 2em 2em 2em;
      width:80%;
      margin: auto;
      background: linear-gradient(red,$red-dark);
      border-radius: 1em;
      height: 28em;
      margin-top: 2em;
    }
    #contentText{
      height:12em;
      overflow: scroll;
    }
    h3{
      margin-left: 1em;
      font-size: 1em;
      display: inline;
    }
    #education{
      margin-left: 3em;
    }
}



@media only screen and (min-width:40em){
  #portal{
      #intro{
        width: 70%;
        margin-left: 3em;
        font-size: 1.2em;
        padding-top: 5em;
      }
      #question{
        margin-left: 2.5em;
        width: 80%;
        font-size: 1.6em;
        padding-top: 1.25em;
        border-bottom: medium solid $red;
      }
      #portalImage{
        width:95%;
        height:auto;
        border-radius:1em;
        margin-bottom: 1em;
      }
      #portalContent{
        padding: 2em 2em 2em 2em;
        width:80%;
        margin: auto;
        background: linear-gradient(red,$red-dark);
        border-radius: 1em;
        height: 35em;
        margin-top: 2em;
      }
      #contentText{
        height:14em;
        overflow:hidden;;
      }
      #education{
        margin-left: 4em;
      }
  }
  h3{
    display: inline;
    margin-left: 1.5em;
    font-size: 2em;
    position: relative;
    margin-left: 1.5em;
    font-size: 4em;
  }
  .partnerImage{
    display: inline !important;
    height: 6em !important;
    width:6em !important;
  }
  #upperPartner{
    margin-left: 15% !important;
  }
  #lowerPartner{
    margin-left: 15% !important;
  }

  header{
    h1{
      display: block;
    }
  #mainNav{
    ul{
      li{
        a{
          transition: all ease 0.4s;
          &:after{
            transition: all ease 0.4s;
          }
          &:hover{
            padding-right:1em;
            &:after{
              width:100%;
            }
          }
        }
      }
    }
  }
}
  #splash{
    .back-video{
      video{
        display: block;
      }
    }
  }
  #gallery{
    .inner{
      text-align: center;
    }
    #nothing{
      padding:4em;
    }
    .image{
      position: relative;
      display: inline-block;
      margin:1em;
      box-sizing: border-box;
      width:100%;
      .img{
      }
      .imageHeader{
        position: absolute;
        width:100%;
        left:0;
        bottom:1em;
        background: transparentize($red,0.2);
        color:$white;
        padding:0.5em;
        text-align:center;
        box-sizing: border-box;
        transition: all ease 0.5s;
      }
    }
  }
  #timeline{
    padding:2em;
    .inner{
      .timelineCont{
        .half{
          width:50%;
          &.left{
            float: left !important;
            // background: #676;
            .modal{
              width:90%;
              .modal-arrow{
                display: block;
              }
            }
          }
          &.right{
            float: right !important;
            // background: #343;
            border-left: thick solid $white;
            margin-top: 1em;
            height: 34em;
            padding-top: 3em;
            padding-bottom: 4em;
            ul{
              padding:0;
              margin:0;
              list-style: none;
              margin-left: 5em;
              li{
                position: relative;
                ul{
                  position: relative;
                  display: block;
                  height:0;
                  overflow-y: hidden;
                  margin-left: 2em;
                  margin-bottom: 0;
                  li{
                    a{
                      background: transparent;
                      border:0;
                    }
                  }
                }
                a{
                  background: transparent;
                  border:0;
                  display: block;
                  padding:0.5em 1em;
                  text-decoration: none;
                  color:inherit;
                  position: relative;
                  &:before{
                    content:'';
                    height:0;
                    width:6.2em;
                    left:-6.2em;
                    border-bottom: medium solid $white;
                    top:50%;
                    position: absolute;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width:60em){
  #intro{
    width: 70%!important;
    text-align: center!important;
    margin-left: 9.5em!important;
    font-size: 1.5em!important;
    padding-top: 5em!important;
  }
  #education{
    margin-left: 13em!important;
  }
  h3{
    margin-left: 1.5em;
    font-size: 2em!important;
  }
  h3:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $red;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  }
  h3:hover:before{
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }
  #question{
    margin-left: 20em!important;
    width: 34%!important;
    font-size: 1.5em!important;
  }
  #portalImage{
    width:80%!important;
    height: auto;
    margin-left:3em!important;
    border-radius:1em!important;
    margin-bottom: 1em!important;
  }
  #portalContent{
    padding: 2em 2em 2em 2em!important;
    width:45%!important;
    margin: auto!important;
    margin-top: 2em!important;
    background: linear-gradient(red,$red-dark);
    border-radius: 1em;
    height: 38em;
  }
  .partnerImage{
    display: inline !important;
    height: 10em !important;
    width:10em !important;
  }
  #upperPartner{
    margin-left: 20% !important;
  }
  #lowerPartner{
    margin-left: 26% !important;
  }
  #splash{
    .banner{
      // margin-top:8em;
      #logo{
        max-width: 12rem;
      }
    }
  }
}
